<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="jumbotron text-center">
        <h1>My First Bootstrap Page</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col">
                <form action="{% url 'taskserver:create' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Create Server">
                </form>
            </div>
        </div>
        {% if tasklist %}
        <div class="row m-3">
            {% for server in tasklist %}
            <div class="col-sm-12 border p-4 mb-4">
                <div class="row m-1">
                    <div class="col-sm-6 shadow p-4 mb-4">
                        <p>Server: {{ server.id }}</p>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'taskserver:delete' server.id %}" class="btn btn-danger">Delete Server</a>
                        <a href="{% url 'taskserver:add_task' server.id %}" class="btn btn-success">Add Task</a>
                    </div>
                </div>
                {% for task in server.task_set.all %}
                <li>{{ task.title }}</li>
                {% if task.active %}
                <div class="progress">
                    <div class="progress-bar" style="width:70%"></div>
                </div>
                {% endif %}

                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </div>

</body>

</html>