<!DOCTYPE html>
<html lang="en">

<head>
    <title>Task Servers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Task Server</h1>
    </div>

    <script>
        //Our custom function.
        function send() {
            var it = $('#id_task_loader').css("width");
            if(it == undefined){
                it = 0
            }
            var uri = "{% url 'taskserver:get_something' %}"+"?num="+it;
            console.log(it);
            $.ajax({
                url: uri,
                success: function (data) {
                    //console.log the response
                    $('#id_task_loader').css("width", data)
                    console.log(data);
                    //Send another request in 10 seconds.
                    setTimeout(function () {
                        if(data != "1083"){
                            send();
                        }
                    }, 1000);
                }
            });
        }
        //Call our function
        send();
    </script>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Column 1</h3>
            </div>
            <div class="col">
                <form action="{% url 'taskserver:create' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Create Server">
                </form>
            </div>
        </div>
        {% if tasklist %}
        <div class="row m-3">
            {% for server in tasklist %}
            <div class="col-sm-12 border p-4 mb-4">
                <div class="row m-1">
                    <div class="col-sm-6 shadow p-4 mb-4">
                        <p>Server: {{ server.id }}</p>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'taskserver:delete' server.id %}" class="btn btn-danger">Delete Server</a>
                        <a href="{% url 'taskserver:add_task' server.id %}" class="btn btn-success">Add Task</a>
                    </div>
                </div>
                {% for task in server.task_set.all %}
                <li>{{ task.title }}</li>
                {% if task.active %}
                <div class="progress">
                    <div id="id_task_loader" class="progress-bar" style="width:70%"></div>
                </div>
                {% endif %}

                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </div>

</body>

</html>